.lr-guidelinestable {

    padding: 10px 70px 30px 70px;

    &__table {
        width: 100%;

        &.txt-cntr {
            .lr-guidelinestable__hdcell, .lr-guidelinestable__cell, .lr-guidelinestable__greycell {
                text-align: center;
            }
        }
    }

    &__hdcell {
        width: 50%;
        background-color: #F7FBFF;
        color: #337acc;
        font-size: 16px;
        text-align: left;
        padding: 10px 15px 10px 15px;
        vertical-align: middle;

        &.txt-cntr {
            text-align: center;
        }
    }

    &__cell {
        width: 50%;
        background-color: transparent;
        color: #4a4c4f;
        text-align: left;
        padding: 15px 15px 15px 15px;
        font-size: 14px;
        vertical-align: middle;

        &.bld {
            color: #000;
            font-weight: 600;
        }

        &.txt-cntr {
            text-align: center;
        }
    }

    &__greycell {
        width: 50%;
        background-color: #F8F8F8;
        color: #4a4c4f;
        text-align: left;
        padding: 15px 15px 15px 15px;
        font-size: 14px;
        vertical-align: middle;

        &.bld {
            color: #000;
            font-weight: 500;
        }

        &.txt-cntr {
            text-align: center;
        }
    }
}


@include mobile {
    .lr-guidelinestable {
        padding: 10px 0px 20px 0px;
        &__hdcell {
    
            &.txt-cntr {
                text-align: left;
            }
        }
    }
}