.lr-heading {
   font-size: 32px;
   color: #2772C7;
   padding: 20px 0;
   text-align: center;
   font-weight: 400;
   &.blackclr {
      color: #000;
   }
   &.whiteclr {
      color: #fff;
   }
}
